* {
    margin: 0;
    padding: 0;
}

html, body
{
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#befterminal
{
  display: block;
  position:absolute;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
}

.github-corner:hover .octo-arm
{
  animation:octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave
{
  0%,100% { transform:rotate(0) }
  20%,60% { transform:rotate(-25deg) }
  40%,80% { transform:rotate(10deg) }
}

@media (max-width:500px)
{
  .github-corner:hover .octo-arm{animation:none}
  .github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}
}